/* [PAGE & WRAPPER] */
html, body {
  margin : 0;
  padding : 0;
  font-family: arial, sans-serif;
}

.card { /* Produkt card (rettet fra: #cart-products) = listen rykkede fra midten og ud til navigationen */
margin-left: 18%;
}

#cart-list { /* "tilføjet til kurv" - boks */
width: 50%
}

#cart-products, #cart-list {
padding: 40px;
}

/*_________________[PRODUCTS]_____________________ */

/*.card { /* hele produkt kortet */
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  margin-bottom: 5%;
  text-align: center;
  font-family: arial;
position: relative;
} */

.flex-container { /* flex: Product Cards kommer op på række (flex-wrap: wrap;) = responsiv */
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
}

.p-item { /* product card: hele firkanten */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  margin-bottom: 5%;
  text-align: center;
  font-family: arial;
}
.p-img { /* produkt billeder */
  width: 300px;
  height: 100%;
}
.p-name { /* produkt-navn: Produkt card - fx "strikkeskål" */
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.p-price { /* Pris: Produkt card */
  color: darkred;
  margin-bottom: 10px;
  font-size: 22px;
}
.p-desc { /* beskrivelse af produkt: Produkt card */
  color: grey;
  font-size: 0.9em;
  margin: 5px;
  margin-bottom: 10px;
}
.p-add { /* "tilføj til kurv" knap: Produkt card */
  background: #000;
  border: none;
  width: 100%;
  padding: 10px;
  font-style:normal;
  color: #fff;
  font-size: 15px;
}


/*______________[CART LIST - KURV]_______________*/
#cart-list {
  position: fixed;
}

#cart-list div.c-item:nth-child(odd) {
  background: lightgrey; /* produkter tilføjet til kurven */
}

.c-item { /*varer er tilføjet til kurv - gråt felt: "strikkeskål" */
  padding: 10px;
  margin-bottom: 10px;
  width: 28%
}

.c-qty, .c-name { /* text i "items added-boksen" */
  display: inline-block;
  color: #000;
}

.c-qty { /* hvid "mængde/antal-boks" */
  margin-right: 10px;
  width: 30px;
  height: 25px;
}

.c-empty, .c-checkout { /* "tøm kurv" og "gå til betaling" knapperne */
  height: 5px;
  padding: 25px;
}

.c-empty { /* "tøm kurv" knap */
  background: #f3f5f9;
  font-size: 15px;
  color: #000;
  width: 180px;
}

.c-checkout { /* gå til betaling knap */
  background: #d6ffc6;
  font-size: 15px;
  position: fixed;
  width: 180px;
  margin-left: -180px; /* alternativ løsning for at få knapperne under hinanden: virker kun i fuld skærm = ikke responsiv */
  margin-top: 55px;
}
