@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

/* logo billede*/
.logo {
  width: 100px;
  height: 100px;
  margin: 30px 0 30px 75px;
}

.banner { /* webshop: banner - portræt */
  width: 1180px;
  height: auto;
  margin-left: 18%; /* banneret starter fra menubaren + responsiv */
  margin-top: 0;
  margin-bottom: 100px;
  position: relative;
}

.headline_produkt {
  color: #bed1e4;
  background-color:  rgba(115, 53, 93, 0.5);
  font-size: 70px;
  text-align: center;
  position: absolute;
  margin-top: -250px;
  margin-left:18%;
  padding: 20px;
  width: 1800px;
}

.flex-container_startside { /* flex: Produkterne kommer op på række (flex-wrap: wrap;) = responsiv */
  display: flex;
  flex-wrap: wrap;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 15%;
}

.img_product_ansigtskrus{
  border: solid #fff;
  border-radius: 200px;
  margin: 1%;
  max-width: 100%;
  max-height: 160px;
}

.img_product_kokkenet{
  border: solid #fff;
  border-radius: 200px;
  margin: 1%;
  max-width: 100%;
  max-height: 160px;
}

.img_product_skulpturer{
  border: solid #fff;
  border-radius: 200px;
  margin: 1%;
  max-width: 100%;
  max-height: 160px;
}

.img_product_vaser{
  border: solid #fff;
  border-radius: 200px;
  margin: 1%;
  max-width: 100%;
  max-height: 160px;
}



/*_______________________PRODUCT CARDS______________________*/

.flex-container { /* flex: Product Cards kommer op på række (flex-wrap: wrap;) = responsiv */
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.card { /* pruduct card */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  margin-bottom: 5%;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.produkt_1 { /*produkt 1 - billeder */
  width: 300px;
  height: 100%;
}

/*_______________________MENUENS OPBYGNING______________________*/

.wrapper{
 display: flex;
 position: relative;
}

.wrapper .sidebar{
 height: 100%;
 background: white;
 position: fixed;
 width: 18%;
}

.wrapper .sidebar h2{
 text-transform: uppercase;
 text-align: center;
 margin-bottom: 30px;
}

.wrapper .sidebar ul li{
 padding: 15px;
 border-bottom: 1px;
 border-bottom: 1px;
 border-top: 1px;
}

.wrapper .sidebar ul li a{
 color:black;
 display: block;
 width: 80%;

}

.wrapper .sidebar ul li:hover{
 background-color:#bed1e4;
}

.wrapper .sidebar ul li:hover a{
 color: #fff;
 text-decoration: underline;
}

.wrapper .sidebar .social_media{
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translateX(-50%);
 display: flex;
}

.wrapper .sidebar .social_media a{
 display: block;
 width: 40px;
 background: #bed1e4;
 height: 40px;
 line-height: 45px;
 text-align: center;
 margin: 0 5px;
 color: #fff;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
}